#content img{
    max-width: 1000px;
}
.biliplayer {
    width: 1000px;
    height: 550px;
}

@media screen and (max-width: 600px) {
    #content img{
        width: 100%;
    }
    .biliplayer {
        width: 100%;
        height: 250px;
    }
}
