.container img{
    max-width: 800px;
    display: block;
}
.container p{
    text-indent: 2em;
}
.biliplayer {
    width: 1000px;
    height: 550px;
}

@media screen and (max-width: 1000px) {
    .container img{
        width: 100%;
    }
    .biliplayer {
        width: 100%;
        height: 250px;
    }
}
