{{ define "main" }}

<article>
    <div class="container markdown-body">
        <h2>📖{{ .Title }}</h2>
        {{ partial "toc" . }}
        <hr />

        {{ .Content }}

        {{ if .Site.Params.reward }}
        {{ partial "reward.html" . }}
        {{ end }}

        <hr>
        <p>
            {{ with .Prev }}
                <a href="{{ .RelPermalink }}" title="{{ .Title }}">《{{ .Title }}》</a>⬅
            {{ end }}
            🧰
            {{ with .Next }}
                ➡<a href="{{ .RelPermalink }}" title="{{ .Title }}">《{{ .Title }}》</a>
            {{ end }}
        </p>
    </div>
</article>

{{ end }}