{{ define "main" }}

<article>
    <div class="container">
        <h2>📖{{.Title}}</h2>
        {{ partial "toc" . }}
        <hr />

        {{ .Content }}

        {{ if .Site.Params.reward }}
        {{ partial "reward.html" . }}
        {{ end }}

        <hr>
        <div>
            {{ if .PrevInSection }}
                <a href="{{ .PrevInSection.RelPermalink }}" 
            title="{{ .PrevInSection.Title}}">
            《{{ .PrevInSection.Title}}》</a>⬅
            {{ end }}
            🧰
            {{ if .NextInSection }}
            ➡<a href="{{ .NextInSection.RelPermalink }}" 
                    title="{{ .NextInSection.Title}}">《{{ .NextInSection.Title}}》</a>
            {{ end }}
        </div>
    </div>
    </div>
</article>

{{ end }}