<!DOCTYPE html>
<html lang="zh-cn">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="keyword"  content="{{ if .Title }}{{ .Title }}-{{ .Site.Params.Subtitle }}{{ end }}">
    <meta name="description"  content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary}}{{ end }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⌚</text></svg>">
    <title>{{ if .Title }}{{ .Title }}-{{ .Site.Params.Subtitle }}{{ end }}</title>

    <link rel="stylesheet"
    href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.0/build/styles/tomorrow-night-blue.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/github-markdown-css@5.1.0/github-markdown.min.css">
    <link rel="stylesheet" href="{{ "css/alone.css" | absURL }}" />

    {{ if .Site.Params.baiduTongji }}
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?{{ .Site.Params.baiduTongji }}";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
    {{ end }}
</head>
<body>